In [1]:
#imports
import pandas as pd
from sqlalchemy import create_engine, select, func, MetaData, Table, Column, Integer, String
from dotenv import load_dotenv
import os
from src.extract.nflreadpy_extract import *
from src.transform import cleaning, validation, fe_module
from src.load.load_module import DataLoader

#load_dotenv()
load = DataLoader()

['root', '127.0.0.1', 'DataPipelineMySQL8']

In [2]:
# EXTRACT DATA
teams = get_teams()
dataframes = {}
for year in range(1999, 2025):
    stats_df = get_team_stats(year)
    schedule_df = get_schedule(year)
    dataframes.setdefault(year, [stats_df, schedule_df])

In [3]:
# TRANSFORM DATA
team_table = fe_module.team_table(teams)
#print(team_table)
tables = {}
for year, items in dataframes.items():
    game_table = fe_module.game_table(items[1])
    season_table = fe_module.season_table(items[0])
    fact_table = fe_module.facts_table(stats_df = items[0], schedule_df = items[1])
    cleaned_fact = cleaning.cleaning.clean(fact_table)
    cleaned_season = cleaning.cleaning.clean(season_table)
    tables.setdefault(year, [cleaned_season, game_table, cleaned_fact])

   season_id  num_games
0       1999         16
     season_id  week team_id season_type opponent_team  completions  attempts  \
0         1999     1     ARI         REG           PHI           25        48
1         1999     1     ATL         REG           MIN           18        31
2         1999     1     BUF         REG           IND           22        42
3         1999     1     CAR         REG            NO           16        32
4         1999     1     CHI         REG            KC           31        47
..         ...   ...     ...         ...           ...          ...       ...
512       1999    20     STL        POST            LA           26        43
513       1999    20      TB        POST            LA           13        29
514       1999    20     TEN        POST           JAX           14        23
515       1999    21     STL        POST            LA           24        45
516       1999    21     TEN        POST            LA           22        36

     passing_yards  passing_tds  passing_interceptions  ...  home_team  \
0              274            1                      3  ...        NaN
1              290            1                      0  ...        ATL
2              300            1                      2  ...        NaN
3              207            1                      1  ...        NaN
4              322            2                      0  ...        CHI
..             ...          ...                    ...  ...        ...
512            258            1                      3  ...        STL
513            163            0                      2  ...        NaN
514            112            1                      1  ...        NaN
515            414            2                      0  ...        NaN
516            214            0                      0  ...        TEN

     home_score  away_score  game_type  location  points_scored  \
0          24.0        25.0        REG      Home           25.0
1          14.0        17.0        REG      Home           14.0
2          31.0        14.0        REG      Home           14.0
3          19.0        10.0        REG      Home           10.0
4          20.0        17.0        REG      Home           20.0
..          ...         ...        ...       ...            ...
512        11.0         6.0        CON      Home           11.0
513        11.0         6.0        CON      Home            6.0
514        14.0        33.0        CON      Home           33.0
515        16.0        23.0         SB   Neutral           23.0
516        16.0        23.0         SB   Neutral           16.0

     points_allowed  away_team      game_id  result
0              24.0        ARI   1999_1_ARI       W
1              17.0        NaN   1999_1_ATL       L
2              31.0        BUF   1999_1_BUF       L
3              19.0        CAR   1999_1_CAR       L
4              17.0        NaN   1999_1_CHI       W
..              ...        ...          ...     ...
512             6.0        NaN  1999_20_STL       W
513            11.0         TB   1999_20_TB       L
514            14.0        TEN  1999_20_TEN       W
515            16.0        STL  1999_21_STL       W
516            23.0        NaN  1999_21_TEN       L

[517 rows x 112 columns]
   season_id  num_games
0       2000         16
     season_id  week team_id season_type opponent_team  completions  attempts  \
0         2000     1     ARI         REG           NYG           28        49
1         2000     1     ATL         REG            SF           16        31
2         2000     1     BAL         REG           PIT           18        32
3         2000     1     BUF         REG           TEN           13        26
4         2000     1     CAR         REG           WAS           17        26
..         ...   ...     ...         ...           ...          ...       ...
509       2000    20     MIN        POST           NYG           13        28
510       2000    20     NYG        POST           MIN           29        40
511       2000    20     OAK        POST            LV           19        37
512       2000    21     BAL        POST           NYG           12        26
513       2000    21     NYG        POST           BAL           15        39

     passing_yards  passing_tds  passing_interceptions  ...  home_team  \
0              318            2                      3  ...        NaN
1              264            2                      0  ...        ATL
2              199            1                      0  ...        NaN
3              174            1                      0  ...        BUF
4              183            1                      0  ...        NaN
..             ...          ...                    ...  ...        ...
509             78            0                      3  ...        NaN
510            385            5                      2  ...        NYG
511            187            0                      4  ...        OAK
512            153            1                      0  ...        NaN
513            112            0                      4  ...        NYG

     home_score  away_score  game_type  location  points_scored  \
0            21          16        REG      Home             16
1            36          28        REG      Home             36
2             0          16        REG      Home             16
3            16          13        REG      Home             16
4            20          17        REG      Home             17
..          ...         ...        ...       ...            ...
509          41           0        CON      Home              0
510          41           0        CON      Home             41
511           3          16        CON      Home              3
512           7          34         SB   Neutral             34
513           7          34         SB   Neutral              7

     points_allowed  away_team      game_id  result
0                21        ARI   2000_1_ARI       L
1                28        NaN   2000_1_ATL       W
2                 0        BAL   2000_1_BAL       W
3                13        NaN   2000_1_BUF       W
4                20        CAR   2000_1_CAR       L
..              ...        ...          ...     ...
509              41        MIN  2000_20_MIN       L
510               0        NaN  2000_20_NYG       W
511              16        NaN  2000_20_OAK       L
512               7        BAL  2000_21_BAL       W
513              34        NaN  2000_21_NYG       L

[514 rows x 112 columns]
   season_id  num_games
0       2001         16
     season_id  week team_id season_type opponent_team  completions  attempts  \
0         2001     1     ATL         REG            SF           11        22
1         2001     1     BAL         REG           CHI           24        30
2         2001     1     BUF         REG            NO           16        28
3         2001     1     CAR         REG           MIN           13        22
4         2001     1     CHI         REG           BAL           24        39
..         ...   ...     ...         ...           ...          ...       ...
505       2001    20     PHI        POST            LA           18        30
506       2001    20     PIT        POST            NE           24        42
507       2001    20     STL        POST           PHI           22        33
508       2001    21      NE        POST            LA           16        27
509       2001    21     STL        POST            LA           28        44

     passing_yards  passing_tds  passing_interceptions  ...  home_team  \
0              121            0                      0  ...        NaN
1              262            1                      0  ...        BAL
2              160            0                      3  ...        BUF
3              223            1                      1  ...        NaN
4              138            0                      2  ...        NaN
..             ...          ...                    ...  ...        ...
505            171            1                      1  ...        NaN
506            255            0                      3  ...        PIT
507            212            1                      0  ...        STL
508            145            1                      0  ...         NE
509            365            1                      2  ...        NaN

     home_score  away_score  game_type  location  points_scored  \
0          16.0        13.0        REG      Home           13.0
1          17.0         6.0        REG      Home           17.0
2           6.0        24.0        REG      Home            6.0
3          13.0        24.0        REG      Home           24.0
4          17.0         6.0        REG      Home            6.0
..          ...         ...        ...       ...            ...
505        29.0        24.0        CON      Home           24.0
506        17.0        24.0        CON      Home           17.0
507        29.0        24.0        CON      Home           29.0
508        20.0        17.0         SB   Neutral           20.0
509        20.0        17.0         SB   Neutral           17.0

     points_allowed  away_team      game_id  result
0              16.0        ATL   2001_1_ATL       L
1               6.0        NaN   2001_1_BAL       W
2              24.0        NaN   2001_1_BUF       L
3              13.0        CAR   2001_1_CAR       W
4              17.0        CHI   2001_1_CHI       L
..              ...        ...          ...     ...
505            29.0        PHI  2001_20_PHI       L
506            24.0        NaN  2001_20_PIT       L
507            24.0        NaN  2001_20_STL       W
508            17.0        NaN   2001_21_NE       W
509            20.0        STL  2001_21_STL       L

[510 rows x 112 columns]
   season_id  num_games
0       2002         16
     season_id  week team_id season_type opponent_team  completions  attempts  \
0         2002     1     ARI         REG           WAS           14        36
1         2002     1     ATL         REG            GB           15        23
2         2002     1     BAL         REG           CAR           20        34
3         2002     1     BUF         REG           NYJ           26        39
4         2002     1     CAR         REG           BAL           12        19
..         ...   ...     ...         ...           ...          ...       ...
521       2002    20     PHI        POST            TB           26        49
522       2002    20      TB        POST           PHI           20        33
523       2002    20     TEN        POST            LV           21        36
524       2002    21     OAK        POST            TB           24        44
525       2002    21      TB        POST            LV           18        34

     passing_yards  passing_tds  passing_interceptions  ...  home_team  \
0              187            1                      1  ...        NaN
1              209            1                      0  ...        NaN
2              218            1                      1  ...        NaN
3              271            1                      2  ...        BUF
4              136            1                      0  ...        CAR
..             ...          ...                    ...  ...        ...
521            243            0                      1  ...        PHI
522            259            1                      1  ...        NaN
523            194            1                      0  ...        NaN
524            272            2                      5  ...        NaN
525            215            2                      1  ...         TB

     home_score  away_score  game_type  location  points_scored  \
0          31.0        23.0        REG      Home           23.0
1          37.0        34.0        REG      Home           34.0
2          10.0         7.0        REG      Home            7.0
3          31.0        37.0        REG      Home           31.0
4          10.0         7.0        REG      Home           10.0
..          ...         ...        ...       ...            ...
521        10.0        27.0        CON      Home           10.0
522        10.0        27.0        CON      Home           27.0
523        41.0        24.0        CON      Home           24.0
524        48.0        21.0         SB   Neutral           21.0
525        48.0        21.0         SB   Neutral           48.0

     points_allowed  away_team      game_id  result
0              31.0        ARI   2002_1_ARI       L
1              37.0        ATL   2002_1_ATL       L
2              10.0        BAL   2002_1_BAL       L
3              37.0        NaN   2002_1_BUF       L
4               7.0        NaN   2002_1_CAR       W
..              ...        ...          ...     ...
521            27.0        NaN  2002_20_PHI       L
522            10.0         TB   2002_20_TB       W
523            41.0        TEN  2002_20_TEN       L
524            48.0        OAK  2002_21_OAK       L
525            21.0        NaN   2002_21_TB       W

[526 rows x 112 columns]
   season_id  num_games
0       2003         16
     season_id  week team_id season_type opponent_team  completions  attempts  \
0         2003     1     ARI         REG           DET           28        46
1         2003     1     ATL         REG           DAL           16        27
2         2003     1     BAL         REG           PIT           22        43
3         2003     1     BUF         REG            NE           17        28
4         2003     1     CAR         REG           JAX           16        30
..         ...   ...     ...         ...           ...          ...       ...
529       2003    20     IND        POST            NE           23        47
530       2003    20      NE        POST           IND           22        37
531       2003    20     PHI        POST           CAR           17        36
532       2003    21     CAR        POST            NE           16        33
533       2003    21      NE        POST           CAR           32        48

     passing_yards  passing_tds  passing_interceptions  ...  home_team  \
0              363            3                      1  ...        NaN
1              228            2                      1  ...        NaN
2              152            1                      1  ...        NaN
3              230            1                      1  ...        BUF
4              141            3                      2  ...        CAR
..             ...          ...                    ...  ...        ...
529            237            1                      4  ...        NaN
530            237            1                      1  ...         NE
531            188            0                      4  ...        PHI
532            323            3                      0  ...        NaN
533            354            3                      1  ...         NE

     home_score  away_score  game_type  location  points_scored  \
0          42.0        24.0        REG      Home           24.0
1          13.0        27.0        REG      Home           27.0
2          34.0        15.0        REG      Home           15.0
3          31.0         0.0        REG      Home           31.0
4          24.0        23.0        REG      Home           24.0
..          ...         ...        ...       ...            ...
529        24.0        14.0        CON      Home           14.0
530        24.0        14.0        CON      Home           24.0
531         3.0        14.0        CON      Home            3.0
532        32.0        29.0         SB   Neutral           29.0
533        32.0        29.0         SB   Neutral           32.0

     points_allowed  away_team      game_id  result
0              42.0        ARI   2003_1_ARI       L
1              13.0        ATL   2003_1_ATL       W
2              34.0        BAL   2003_1_BAL       L
3               0.0        NaN   2003_1_BUF       W
4              23.0        NaN   2003_1_CAR       W
..              ...        ...          ...     ...
529            24.0        IND  2003_20_IND       L
530            14.0        NaN   2003_20_NE       W
531            14.0        NaN  2003_20_PHI       L
532            32.0        CAR  2003_21_CAR       L
533            29.0        NaN   2003_21_NE       W

[534 rows x 112 columns]
   season_id  num_games
0       2004         16
     season_id  week team_id season_type opponent_team  completions  attempts  \
0         2004     1     ARI         REG            LA           18        29
1         2004     1     ATL         REG            SF           13        22
2         2004     1     BAL         REG           CLE           22        38
3         2004     1     BUF         REG           JAX           17        26
4         2004     1     CAR         REG            GB           23        40
..         ...   ...     ...         ...           ...          ...       ...
529       2004    20      NE        POST           PIT           14        21
530       2004    20     PHI        POST           ATL           18        27
531       2004    20     PIT        POST            NE           14        24
532       2004    21      NE        POST           PHI           23        33
533       2004    21     PHI        POST            NE           30        51

     passing_yards  passing_tds  passing_interceptions  ...  home_team  \
0              181            0                      0  ...        NaN
1              163            1                      1  ...        NaN
2              191            0                      2  ...        NaN
3              153            1                      0  ...        BUF
4              284            2                      1  ...        CAR
..             ...          ...                    ...  ...        ...
529            207            2                      0  ...        NaN
530            183            2                      0  ...        PHI
531            226            2                      3  ...        PIT
532            236            2                      0  ...        NaN
533            357            3                      3  ...        PHI

     home_score  away_score  game_type  location  points_scored  \
0          17.0        10.0        REG      Home           10.0
1          19.0        21.0        REG      Home           21.0
2          20.0         3.0        REG      Home            3.0
3          10.0        13.0        REG      Home           10.0
4          14.0        24.0        REG      Home           14.0
..          ...         ...        ...       ...            ...
529        27.0        41.0        CON      Home           41.0
530        27.0        10.0        CON      Home           27.0
531        27.0        41.0        CON      Home           27.0
532        21.0        24.0         SB   Neutral           24.0
533        21.0        24.0         SB   Neutral           21.0

     points_allowed  away_team      game_id  result
0              17.0        ARI   2004_1_ARI       L
1              19.0        ATL   2004_1_ATL       W
2              20.0        BAL   2004_1_BAL       L
3              13.0        NaN   2004_1_BUF       L
4              24.0        NaN   2004_1_CAR       L
..              ...        ...          ...     ...
529            27.0         NE   2004_20_NE       W
530            10.0        NaN  2004_20_PHI       W
531            41.0        NaN  2004_20_PIT       L
532            21.0         NE   2004_21_NE       W
533            24.0        NaN  2004_21_PHI       L

[534 rows x 112 columns]
   season_id  num_games
0       2005         16
     season_id  week team_id season_type opponent_team  completions  attempts  \
0         2005     1     ARI         REG           NYG           32        56
1         2005     1     ATL         REG           PHI           12        23
2         2005     1     BAL         REG           IND           34        54

In [4]:
# LOAD DATA
load.create_(df = team_table, table_name = 'team', primary_key = 'team_id')
load.insert_(df = team_table, table_name= 'team', primary_key = 'team_id')

load.create_(df = tables[1999][0], table_name = 'season', primary_key = 'season_id')
load.create_(df = tables[1999][1], table_name = 'game', primary_key = 'game_id')
load.create_(df = tables[1999][2], table_name = 'nfl_facts', primary_key = 'id')

for items in tables.values():
    print(items[0])
    load.insert_(df = items[0], table_name= 'season', primary_key = 'season_id')
    load.insert_(df = items[1], table_name= 'game', primary_key = 'game_id')
    load.insert_(df = items[2], table_name= 'nfl_facts', primary_key = 'id')

2026-02-23 09:35:09,011 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2026-02-23 09:35:09,012 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-23 09:35:09,013 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2026-02-23 09:35:09,013 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-23 09:35:09,014 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2026-02-23 09:35:09,015 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-23 09:35:09,016 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-23 09:35:09,016 INFO sqlalchemy.engine.Engine DESCRIBE `datapipelinemysql8`.`team`
2026-02-23 09:35:09,016 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-23 09:35:09,018 INFO sqlalchemy.engine.Engine ROLLBACK
2026-02-23 09:35:09,018 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-23 09:35:09,019 INFO sqlalchemy.engine.Engine CREATE TABLE team (`team_id` VARCHAR(50) PRIMARY KEY, `team_name` VARCHAR(50), `team_conf` VARCHAR(50), `team_division` VARCHAR(50));
2026-02-23 09:35:09,020 INFO sqlalchemy.engine.Engine [generated in 0.00043s] {}
2026-02-23 09:35:09,034 INFO sqlalchemy.engine.Engine COMMIT
2026-02-23 09:35:09,037 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-23 09:35:09,037 INFO sqlalchemy.engine.Engine INSERT INTO team (`team_id`, `team_name`, `team_conf`, `team_division`)
                    VALUES (%(team_id)s, %(team_name)s, %(team_conf)s, %(team_division)s)
                    ON DUPLICATE KEY UPDATE `team_name`=VALUES(`team_name`), `team_conf`=VALUES(`team_conf`), `team_division`=VALUES(`team_division`);
2026-02-23 09:35:09,038 INFO sqlalchemy.engine.Engine [generated in 0.00046s] [{'team_id': 'ARI', 'team_name': 'Arizona Cardinals', 'team_conf': 'NFC', 'team_division': 'NFC West'}, {'team_id': 'ATL', 'team_name': 'Atlanta Falcons', 'team_conf': 'NFC', 'team_division': 'NFC South'}, {'team_id': 'BAL', 'team_name': 'Baltimore Ravens', 'team_conf': 'AFC', 'team_division': 'AFC North'}, {'team_id': 'BUF', 'team_name': 'Buffalo Bills', 'team_conf': 'AFC', 'team_division': 'AFC East'}, {'team_id': 'CAR', 'team_name': 'Carolina Panthers', 'team_conf': 'NFC', 'team_division': 'NFC South'}, {'team_id': 'CHI', 'team_name': 'Chicago Bears', 'team_conf': 'NFC', 'team_division': 'NFC North'}, {'team_id': 'CIN', 'team_name': 'Cincinnati Bengals', 'team_conf': 'AFC', 'team_division': 'AFC North'}, {'team_id': 'CLE', 'team_name': 'Cleveland Browns', 'team_conf': 'AFC', 'team_division': 'AFC North'}  ... displaying 10 of 32 total bound parameter sets ...  {'team_id': 'TEN', 'team_name': 'Tennessee Titans', 'team_conf': 'AFC', 'team_division': 'AFC South'}, {'team_id': 'WAS', 'team_name': 'Washington Commanders', 'team_conf': 'NFC', 'team_division': 'NFC East'}]
2026-02-23 09:35:09,042 INFO sqlalchemy.engine.Engine COMMIT
2026-02-23 09:35:09,044 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-23 09:35:09,045 INFO sqlalchemy.engine.Engine DESCRIBE `datapipelinemysql8`.`season`
2026-02-23 09:35:09,045 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-23 09:35:09,046 INFO sqlalchemy.engine.Engine ROLLBACK
2026-02-23 09:35:09,047 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-23 09:35:09,048 INFO sqlalchemy.engine.Engine CREATE TABLE season (`season_id` BIGINT PRIMARY KEY, `num_games` BIGINT);
2026-02-23 09:35:09,048 INFO sqlalchemy.engine.Engine [generated in 0.00035s] {}
2026-02-23 09:35:09,056 INFO sqlalchemy.engine.Engine COMMIT
2026-02-23 09:35:09,057 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-23 09:35:09,058 INFO sqlalchemy.engine.Engine DESCRIBE `datapipelinemysql8`.`game`
2026-02-23 09:35:09,058 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-23 09:35:09,059 INFO sqlalchemy.engine.Engine ROLLBACK
2026-02-23 09:35:09,060 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-23 09:35:09,061 INFO sqlalchemy.engine.Engine CREATE TABLE game (`season_id` BIGINT, `week` BIGINT, `home_team` VARCHAR(50), `game_type` VARCHAR(50), `location` VARCHAR(50), `stadium` VARCHAR(50), `game_id` VARCHAR(50) PRIMARY KEY);
2026-02-23 09:35:09,062 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {}
2026-02-23 09:35:09,075 INFO sqlalchemy.engine.Engine COMMIT
2026-02-23 09:35:09,077 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-23 09:35:09,077 INFO sqlalchemy.engine.Engine DESCRIBE `datapipelinemysql8`.`nfl_facts`
2026-02-23 09:35:09,078 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-23 09:35:09,081 INFO sqlalchemy.engine.Engine ROLLBACK
2026-02-23 09:35:09,086 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-23 09:35:09,087 INFO sqlalchemy.engine.Engine CREATE TABLE nfl_facts (`id` SERIAL PRIMARY KEY, `season_id` BIGINT, `team_id` VARCHAR(50), `game_id` VARCHAR(50), `week` BIGINT, `game_type` VARCHAR(50), `pass_attempts` BIGINT, `rush_attempts` BIGINT, `pass_yards` BIGINT, `rush_yards` BIGINT, `pass_tds` BIGINT, `rush_tds` BIGINT, `points_scored` BIGINT, `points_allowed` BIGINT, `result` VARCHAR(50));
2026-02-23 09:35:09,088 INFO sqlalchemy.engine.Engine [generated in 0.00106s] {}
2026-02-23 09:35:09,107 INFO sqlalchemy.engine.Engine COMMIT
   season_id  num_games
0       1999         16
2026-02-23 09:35:09,110 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-23 09:35:09,110 INFO sqlalchemy.engine.Engine INSERT INTO season (`season_id`, `num_games`)
                    VALUES (%(season_id)s, %(num_games)s)
                    ON DUPLICATE KEY UPDATE `num_games`=VALUES(`num_games`);
2026-02-23 09:35:09,111 INFO sqlalchemy.engine.Engine [generated in 0.00058s] {'season_id': 1999, 'num_games': 16}
2026-02-23 09:35:09,112 INFO sqlalchemy.engine.Engine COMMIT
2026-02-23 09:35:09,115 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-23 09:35:09,116 INFO sqlalchemy.engine.Engine INSERT INTO game (`season_id`, `week`, `home_team`, `game_type`, `location`, `stadium`, `game_id`)
                    VALUES (%(season_id)s, %(week)s, %(home_team)s, %(game_type)s, %(location)s, %(stadium)s, %(game_id)s)
                    ON DUPLICATE KEY UPDATE `season_id`=VALUES(`season_id`), `week`=VALUES(`week`), `home_team`=VALUES(`home_team`), `game_type`=VALUES(`game_type`), `location`=VALUES(`location`), `stadium`=VALUES(`stadium`);
2026-02-23 09:35:09,116 INFO sqlalchemy.engine.Engine [generated in 0.00102s] [{'season_id': 1999, 'week': 1, 'home_team': 'ATL', 'game_type': 'REG', 'location': 'Home', 'stadium': 'Georgia Dome', 'game_id': '1999_1_ATL'}, {'season_id': 1999, 'week': 1, 'home_team': 'CHI', 'game_type': 'REG', 'location': 'Home', 'stadium': 'Soldier Field', 'game_id': '1999_1_CHI'}, {'season_id': 1999, 'week': 1, 'home_team': 'CLE', 'game_type': 'REG', 'location': 'Home', 'stadium': 'Cleveland Browns Stadium', 'game_id': '1999_1_CLE'}, {'season_id': 1999, 'week': 1, 'home_team': 'GB', 'game_type': 'REG', 'location': 'Home', 'stadium': 'Lambeau Field', 'game_id': '1999_1_GB'}, {'season_id': 1999, 'week': 1, 'home_team': 'IND', 'game_type': 'REG', 'location': 'Home', 'stadium': 'RCA Dome', 'game_id': '1999_1_IND'}, {'season_id': 1999, 'week': 1, 'home_team': 'JAX', 'game_type': 'REG', 'location': 'Home', 'stadium': 'Alltel Stadium', 'game_id': '1999_1_JAX'}, {'season_id': 1999, 'week': 1, 'home_team': 'NO', 'game_type': 'REG', 'location': 'Home', 'stadium': 'Louisiana Superdome', 'game_id': '1999_1_NO'}, {'season_id': 1999, 'week': 1, 'home_team': 'NYJ', 'game_type': 'REG', 'location': 'Home', 'stadium': 'Giants Stadium', 'game_id': '1999_1_NYJ'}  ... displaying 10 of 259 total bound parameter sets ...  {'season_id': 1999, 'week': 20, 'home_team': 'STL', 'game_type': 'CON', 'location': 'Home', 'stadium': 'TWA Dome', 'game_id': '1999_20_STL'}, {'season_id': 1999, 'week': 21, 'home_team': 'TEN', 'game_type': 'SB', 'location': 'Neutral', 'stadium': 'Georgia Dome', 'game_id': '1999_21_TEN'}]
2026-02-23 09:35:09,124 INFO sqlalchemy.engine.Engine COMMIT
2026-02-23 09:35:09,127 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-23 09:35:09,130 INFO sqlalchemy.engine.Engine INSERT INTO nfl_facts (`season_id`, `team_id`, `game_id`, `week`, `game_type`, `pass_attempts`, `rush_attempts`, `pass_yards`, `rush_yards`, `pass_tds`, `rush_tds`, `points_scored`, `points_allowed`, `result`)
                    VALUES (%(season_id)s, %(team_id)s, %(game_id)s, %(week)s, %(game_type)s, %(pass_attempts)s, %(rush_attempts)s, %(pass_yards)s, %(rush_yards)s, %(pass_tds)s, %(rush_tds)s, %(points_scored)s, %(points_allowed)s, %(result)s)
                    ON DUPLICATE KEY UPDATE `season_id`=VALUES(`season_id`), `team_id`=VALUES(`team_id`), `game_id`=VALUES(`game_id`), `week`=VALUES(`week`), `game_type`=VALUES(`game_type`), `pass_attempts`=VALUES(`pass_attempts`), `rush_attempts`=VALUES(`rush_attempts`), `pass_yards`=VALUES(`pass_yards`), `rush_yards`=VALUES(`rush_yards`), `pass_tds`=VALUES(`pass_tds`), `rush_tds`=VALUES(`rush_tds`), `points_scored`=VALUES(`points_scored`), `points_allowed`=VALUES(`points_allowed`), `result`=VALUES(`result`);
2026-02-23 09:35:09,131 INFO sqlalchemy.engine.Engine [generated in 0.00281s] [{'season_id': 1999, 'team_id': 'ARI', 'game_id': '1999_1_ARI', 'week': 1, 'game_type': 'REG', 'pass_attempts': 48, 'rush_attempts': 36, 'pass_yards': 274, 'rush_yards': 78, 'pass_tds': 1, 'rush_tds': 1, 'points_scored': 25, 'points_allowed': 24, 'result': 'W'}, {'season_id': 1999, 'team_id': 'ATL', 'game_id': '1999_1_ATL', 'week': 1, 'game_type': 'REG', 'pass_attempts': 31, 'rush_attempts': 23, 'pass_yards': 290, 'rush_yards': 81, 'pass_tds': 1, 'rush_tds': 1, 'points_scored': 14, 'points_allowed': 17, 'result': 'L'}, {'season_id': 1999, 'team_id': 'BUF', 'game_id': '1999_1_BUF', 'week': 1, 'game_type': 'REG', 'pass_attempts': 42, 'rush_attempts': 15, 'pass_yards': 300, 'rush_yards': 47, 'pass_tds': 1, 'rush_tds': 0, 'points_scored': 14, 'points_allowed': 31, 'result': 'L'}, {'season_id': 1999, 'team_id': 'CAR', 'game_id': '1999_1_CAR', 'week': 1, 'game_type': 'REG', 'pass_attempts': 32, 'rush_attempts': 16, 'pass_yards': 207, 'rush_yards': 85, 'pass_tds': 1, 'rush_tds': 0, 'points_scored': 10, 'points_allowed': 19, 'result': 'L'}, {'season_id': 1999, 'team_id': 'CHI', 'game_id': '1999_1_CHI', 'week': 1, 'game_type': 'REG', 'pass_attempts': 47, 'rush_attempts': 28, 'pass_yards': 322, 'rush_yards': 81, 'pass_tds': 2, 'rush_tds': 0, 'points_scored': 20, 'points_allowed': 17, 'result': 'W'}, {'season_id': 1999, 'team_id': 'CIN', 'game_id': '1999_1_CIN', 'week': 1, 'game_type': 'REG', 'pass_attempts': 34, 'rush_attempts': 42, 'pass_yards': 197, 'rush_yards': 201, 'pass_tds': 2, 'rush_tds': 2, 'points_scored': 35, 'points_allowed': 36, 'result': 'L'}, {'season_id': 1999, 'team_id': 'CLE', 'game_id': '1999_1_CLE', 'week': 1, 'game_type': 'REG', 'pass_attempts': 16, 'rush_attempts': 9, 'pass_yards': 52, 'rush_yards': 9, 'pass_tds': 0, 'rush_tds': 0, 'points_scored': 0, 'points_allowed': 43, 'result': 'L'}, {'season_id': 1999, 'team_id': 'DAL', 'game_id': '1999_1_DAL', 'week': 1, 'game_type': 'REG', 'pass_attempts': 49, 'rush_attempts': 34, 'pass_yards': 362, 'rush_yards': 186, 'pass_tds': 5, 'rush_tds': 1, 'points_scored': 41, 'points_allowed': 35, 'result': 'W'}  ... displaying 10 of 517 total bound parameter sets ...  {'season_id': 1999, 'team_id': 'STL', 'game_id': '1999_21_STL', 'week': 21, 'game_type': 'SB', 'pass_attempts': 45, 'rush_attempts': 13, 'pass_yards': 414, 'rush_yards': 29, 'pass_tds': 2, 'rush_tds': 0, 'points_scored': 23, 'points_allowed': 16, 'result': 'W'}, {'season_id': 1999, 'team_id': 'TEN', 'game_id': '1999_21_TEN', 'week': 21, 'game_type': 'SB', 'pass_attempts': 36, 'rush_attempts': 36, 'pass_yards': 214, 'rush_yards': 159, 'pass_tds': 0, 'rush_tds': 2, 'points_scored': 16, 'points_allowed': 23, 'result': 'L'}]
2026-02-23 09:35:09,149 INFO sqlalchemy.engine.Engine COMMIT
   season_id  num_games
0       2000         16
2026-02-23 09:35:09,154 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-23 09:35:09,154 INFO sqlalchemy.engine.Engine INSERT INTO season (`season_id`, `num_games`)
                    VALUES (%(season_id)s, %(num_games)s)
                    ON DUPLICATE KEY UPDATE `num_games`=VALUES(`num_games`);
2026-02-23 09:35:09,155 INFO sqlalchemy.engine.Engine [cached since 0.04448s ago] {'season_id': 2000, 'num_games': 16}
2026-02-23 09:35:09,156 INFO sqlalchemy.engine.Engine COMMIT
2026-02-23 09:35:09,159 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-23 09:35:09,160 INFO sqlalchemy.engine.Engine INSERT INTO game (`season_id`, `week`, `home_team`, `game_type`, `location`, `stadium`, `game_id`)
                    VALUES (%(season_id)s, %(week)s, %(home_team)s, %(game_type)s, %(location)s, %(stadium)s, %(game_id)s)
                    ON DUPLICATE KEY UPDATE `season_id`=VALUES(`season_id`), `week`=VALUES(`week`), `home_team`=VALUES(`home_team`), `game_type`=VALUES(`game_type`), `location`=VALUES(`location`), `stadium`=VALUES(`stadium`);
2026-02-23 09:35:09,160 INFO sqlalchemy.engine.Engine [cached since 0.04512s ago] [{'season_id': 2000, 'week': 1, 'home_team': 'ATL', 'game_type': 'REG', 'location': 'Home', 'stadium': 'Georgia Dome', 'game_id': '2000_1_ATL'}, {'season_id': 2000, 'week': 1, 'home_team': 'CLE', 'game_type': 'REG', 'location': 'Home', 'stadium': 'Cleveland Browns Stadium', 'game_id': '2000_1_CLE'}, {'season_id': 2000, 'week': 1, 'home_team': 'KC', 'game_type': 'REG', 'location': 'Home', 'stadium': 'Arrowhead Stadium', 'game_id': '2000_1_KC'}, {'season_id': 2000, 'week': 1, 'home_team': 'MIN', 'game_type': 'REG', 'location': 'Home', 'stadium': 'Hubert H. Humphrey Metrodome', 'game_id': '2000_1_MIN'}, {'season_id': 2000, 'week': 1, 'home_team': 'NE', 'game_type': 'REG', 'location': 'Home', 'stadium': 'Foxboro Stadium', 'game_id': '2000_1_NE'}, {'season_id': 2000, 'week': 1, 'home_team': 'NO', 'game_type': 'REG', 'location': 'Home', 'stadium': 'Louisiana Superdome', 'game_id': '2000_1_NO'}, {'season_id': 2000, 'week': 1, 'home_team': 'NYG', 'game_type': 'REG', 'location': 'Home', 'stadium': 'Giants Stadium', 'game_id': '2000_1_NYG'}, {'season_id': 2000, 'week': 1, 'home_team': 'PIT', 'game_type': 'REG', 'location': 'Home', 'stadium': 'Three Rivers Stadium', 'game_id': '2000_1_PIT'}  ... displaying 10 of 259 total bound parameter sets ...  {'season_id': 2000, 'week': 20, 'home_team': 'OAK', 'game_type': 'CON', 'location': 'Home', 'stadium': 'Network Associates Coliseum', 'game_id': '2000_20_OAK'}, {'season_id': 2000, 'week': 21, 'home_team': 'NYG', 'game_type': 'SB', 'location': 'Neutral', 'stadium': 'Raymond James Stadium', 'game_id': '2000_21_NYG'}]
2026-02-23 09:35:09,168 INFO sqlalchemy.engine.Engine COMMIT
2026-02-23 09:35:09,175 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-23 09:35:09,183 INFO sqlalchemy.engine.Engine INSERT INTO nfl_facts (`season_id`, `team_id`, `game_id`, `week`, `game_type`, `pass_attempts`, `rush_attempts`, `pass_yards`, `rush_yards`, `pass_tds`, `rush_tds`, `points_scored`, `points_allowed`, `result`)
                    VALUES (%(season_id)s, %(team_id)s, %(game_id)s, %(week)s, %(game_type)s, %(pass_attempts)s, %(rush_attempts)s, %(pass_yards)s, %(rush_yards)s, %(pass_tds)s, %(rush_tds)s, %(points_scored)s, %(points_allowed)s, %(result)s)
                    ON DUPLICATE KEY UPDATE `season_id`=VALUES(`season_id`), `team_id`=VALUES(`team_id`), `game_id`=VALUES(`game_id`), `week`=VALUES(`week`), `game_type`=VALUES(`game_type`), `pass_attempts`=VALUES(`pass_attempts`), `rush_attempts`=VALUES(`rush_attempts`), `pass_yards`=VALUES(`pass_yards`), `rush_yards`=VALUES(`rush_yards`), `pass_tds`=VALUES(`pass_tds`), `rush_tds`=VALUES(`rush_tds`), `points_scored`=VALUES(`points_scored`), `points_allowed`=VALUES(`points_allowed`), `result`=VALUES(`result`);
2026-02-23 09:35:09,184 INFO sqlalchemy.engine.Engine [cached since 0.05638s ago] [{'season_id': 2000, 'team_id': 'ARI', 'game_id': '2000_1_ARI', 'week': 1, 'game_type': 'REG', 'pass_attempts': 49, 'rush_attempts': 20, 'pass_yards': 318, 'rush_yards': 43, 'pass_tds': 2, 'rush_tds': 0, 'points_scored': 16, 'points_allowed': 21, 'result': 'L'}, {'season_id': 2000, 'team_id': 'ATL', 'game_id': '2000_1_ATL', 'week': 1, 'game_type': 'REG', 'pass_attempts': 31, 'rush_attempts': 32, 'pass_yards': 264, 'rush_yards': 95, 'pass_tds': 2, 'rush_tds': 0, 'points_scored': 36, 'points_allowed': 28, 'result': 'W'}, {'season_id': 2000, 'team_id': 'BAL', 'game_id': '2000_1_BAL', 'week': 1, 'game_type': 'REG', 'pass_attempts': 32, 'rush_attempts': 36, 'pass_yards': 199, 'rush_yards': 140, 'pass_tds': 1, 'rush_tds': 0, 'points_scored': 16, 'points_allowed': 0, 'result': 'W'}, {'season_id': 2000, 'team_id': 'BUF', 'game_id': '2000_1_BUF', 'week': 1, 'game_type': 'REG', 'pass_attempts': 26, 'rush_attempts': 35, 'pass_yards': 174, 'rush_yards': 129, 'pass_tds': 1, 'rush_tds': 0, 'points_scored': 16, 'points_allowed': 13, 'result': 'W'}, {'season_id': 2000, 'team_id': 'CAR', 'game_id': '2000_1_CAR', 'week': 1, 'game_type': 'REG', 'pass_attempts': 26, 'rush_attempts': 20, 'pass_yards': 183, 'rush_yards': 112, 'pass_tds': 1, 'rush_tds': 0, 'points_scored': 17, 'points_allowed': 20, 'result': 'L'}, {'season_id': 2000, 'team_id': 'CHI', 'game_id': '2000_1_CHI', 'week': 1, 'game_type': 'REG', 'pass_attempts': 41, 'rush_attempts': 25, 'pass_yards': 290, 'rush_yards': 153, 'pass_tds': 2, 'rush_tds': 1, 'points_scored': 27, 'points_allowed': 30, 'result': 'L'}, {'season_id': 2000, 'team_id': 'CLE', 'game_id': '2000_1_CLE', 'week': 1, 'game_type': 'REG', 'pass_attempts': 27, 'rush_attempts': 16, 'pass_yards': 160, 'rush_yards': 96, 'pass_tds': 1, 'rush_tds': 0, 'points_scored': 7, 'points_allowed': 27, 'result': 'L'}, {'season_id': 2000, 'team_id': 'DAL', 'game_id': '2000_1_DAL', 'week': 1, 'game_type': 'REG', 'pass_attempts': 31, 'rush_attempts': 13, 'pass_yards': 135, 'rush_yards': 67, 'pass_tds': 1, 'rush_tds': 0, 'points_scored': 14, 'points_allowed': 41, 'result': 'L'}  ... displaying 10 of 514 total bound parameter sets ...  {'season_id': 2000, 'team_id': 'BAL', 'game_id': '2000_21_BAL', 'week': 21, 'game_type': 'SB', 'pass_attempts': 26, 'rush_attempts': 33, 'pass_yards': 153, 'rush_yards': 111, 'pass_tds': 1, 'rush_tds': 1, 'points_scored': 34, 'points_allowed': 7, 'result': 'W'}, {'season_id': 2000, 'team_id': 'NYG', 'game_id': '2000_21_NYG', 'week': 21, 'game_type': 'SB', 'pass_attempts': 39, 'rush_attempts': 16, 'pass_yards': 112, 'rush_yards': 66, 'pass_tds': 0, 'rush_tds': 0, 'points_scored': 7, 'points_allowed': 34, 'result': 'L'}]
2026-02-23 09:35:09,204 INFO sqlalchemy.engine.Engine COMMIT
   season_id  num_games
0       2001         16
2026-02-23 09:35:09,209 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-23 09:35:09,210 INFO sqlalchemy.engine.Engine INSERT INTO season (`season_id`, `num_games`)
                    VALUES (%(season_id)s, %(num_games)s)
                    ON DUPLICATE KEY UPDATE `num_games`=VALUES(`num_games`);
2026-02-23 09:35:09,210 INFO sqlalchemy.engine.Engine [cached since 0.09991s ago] {'season_id': 2001, 'num_games': 16}
2026-02-23 09:35:09,211 INFO sqlalchemy.engine.Engine COMMIT
2026-02-23 09:35:09,214 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-23 09:35:09,216 INFO sqlalchemy.engine.Engine INSERT INTO game (`season_id`, `week`, `home_team`, `game_type`, `location`, `stadium`, `game_id`)
                    VALUES (%(season_id)s, %(week)s, %(home_team)s, %(game_type)s, %(location)s, %(stadium)s, %(game_id)s)
                    ON DUPLICATE KEY UPDATE `season_id`=VALUES(`season_id`), `week`=VALUES(`week`), `home_team`=VALUES(`home_team`), `game_type`=VALUES(`game_type`), `location`=VALUES(`location`), `stadium`=VALUES(`stadium`);